<%= form_tag create_user_session_path, class: 'pure-form pure-form-aligned' do %>
  <fieldset>
    <%= fields_for :user do |f| %>
      <div class="pure-control-group">
        <%= f.label 'username' %>
        <%= f.text_field :name, placeholder: 'username' %>
      </div>

      <div class="pure-control-group">
        <%= f.label 'password' %>
        <%= f.password_field :password, placeholder: 'password' %>
      </div>

      <div class="pure-controls">
        <%= f.submit 'Sign in', class: 'pure-button pure-button-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>
