<h1><%= @room.name %></h1>

<div id="messages">
  <% @messages.each do |message| %>
    <div>
      <span><%= message.user.name %></span>
      <div class="<%= current_user == message.user ? 'baloon-right' : 'baloon-left' %>">
        <%= message.content %>
      </div>
    </div>
  <% end %>
</div>

<form class="pure-form">
  <fieldset>
    <legend>Say something:</legend>
    <input type="text" data-behavior="room_speaker">
  </fieldset>
</form>

<%= hidden_field_tag :current_user_id, current_user.id %>
