<h1><%= @room.name %></h1>

<div class="messages-container">
  <div id="messages">

    <% @messages.each do |message| %>
      <% klass = current_user == message.user ? 'right' : 'left' %>

      <div class="message align-<%= klass %>">
        <span><%= message.user.name %></span>
        <div class="balloon-<%= klass %>">
          <%= message.content %>
        </div>
      </div>

    <% end %>

  </div>
  <div class="clear"></div>
</div>

<form class="pure-form">
  <fieldset>
    <legend>Say something:</legend>
    <input type="text" data-behavior="room_speaker">
  </fieldset>
</form>

<%= hidden_field_tag :current_user_id, current_user.id %>
