<!DOCTYPE html>
<html>
  <head>
    <title>EveryChat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <% if notice %>
      <p><%= notice %></p>
    <% elsif alert %>
      <p><%= alert %></p>
    <% end %>

    <%= yield %>

    <% if user_signed_in? %>
      <%= hidden_field_tag :user_id, current_user.id %>
    <% end %>
  </body>
</html>
