<%= form_for @user, html: { class: 'pure-form' } do |f| %>
  <fieldset>
    <legend>Sign up</legend>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>
    <%= f.text_field :name, placeholder: 'name' %>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %>
    <%= f.submit 'Sign up', class: 'button-green pure-button' %>
  </fieldset>
<% end %>
